<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/site.css"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <title>{% block title %}LevelBlocks{% endblock %}</title>
    </head>
    <body class="container">
        {% set navigation_bar = [
        ('/', 'play', 'Play'),
        ('/mylevels/', 'mylevels', 'My Levels'),
        ('/profile/', 'profile', 'Profile'),
        ('/halloffame/', 'halloffame', 'Hall of Fame')
        ] %}
        {% set active_page = active_page|default('home') %}
        <h1>LevelBlocks</h1>
        <section id="menu" class='menu'>
            <div class="container">
                <ul class="nav nav-pills ">
                    {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active"{% endif %}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>